<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div id="app" class="container">
        <!-- header -->
        <header>
            <!-- container top -->
            <div class="container_top">
                <div id="top_left">
                    <div id="avatarAndName">
                        <img class="avatar_img" :src="'img/avatar'+user.avatar+'.png'" alt="">
                        <span><strong>{{user.name}}</strong></span>
                    </div>
                    <div class="container_icons">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <div id="top_right">
                    <div class="nameAndIconContainer">
                        <div v-for='(element, index) in contacts' class="showContact" :class="isPresent(index)" >
                            <div id="avatarAndName"> 
                                <img class="avatar_img" :src="'img/avatar'+element.avatar+'.png'" alt="">
                                <div>
                                    <div><strong>{{contacts[index].name}}</strong></div>
                                    <div class="ultimoAccesso">{{element.messages[element.messages.length-1].date}}</div> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container_icons">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
            </div>
        </header>
        <!-- main -->
        <main>
            <div id="containerMain">
                <!-- main left -->
                <div class="mainLeft">
                    <div id="riceviNotifiche">
                        <div class="bellBackgroudColor">
                            <i class="far fa-bell-slash"></i>
                        </div>
                        <div>
                            <div><strong>Ricevi notifiche di nuovi messaggi</strong></div>
                            <div class="underLine">Attiva notifiche descktop</div>
                        </div>
                    </div>
                    <div id="searchArea">
                        <i class="fas fa-search"></i>
                        <input class="search" type="text" placeholder="Cerca oinizia una nuova chat" @keyUp='filterNames' v-model='search'>
                    </div>
                    <div class="scrollbarContect">
                        <div v-for='(element, index) in contacts' class="content" :class="visibility(index)" @click="chosenContact(index)" :class="changeColor(index)">
                            <img class="avatar_img" :src="'img/avatar'+element.avatar+'.png'" alt="">
                            <div>
                                <div><strong>{{element.name}}</strong></div>
                                <div class="ultimoAccesso">{{element.messages[element.messages.length-1].date}}</div>
                                <p>{{element.messages[element.messages.length-1].text}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- main right -->

                <div class="mainRight">
                    <div class="messagesContainerHight">
                        <img v-if='present == null' class="connectYourPhonePhoto" src="img/whatsapp.png" alt="">
                        <div v-for='(element, index) in contacts'>
                            <div v-if='index==present'>
                                <strong >
                                    <div v-for='(message,indexMessage) in contacts[index].messages' :class="replay" >
                                        <div class="messageContainer">
                                            <div v-if="element.messages[indexMessage].status==='sent'" class="sentMessage" >
                                                <i class="fas fa-angle-down" @click='tooltiptext(indexMessage)' ></i>
                                                <ul class="tooltiptext" :class="{show:indexMessage==presentMessage}">
                                                    <li>Options</li>
                                                    <li @click='deleteMessage(indexMessage)'>Delete</li>
                                                </ul>
                                                {{element.messages[indexMessage].text}}
                                                
                                            </div>
                                            <div v-else="element.messages[indexMessage].status==='received'" class="receivedMessage" >
                                                <i class="fas fa-angle-down" @click='tooltiptext(indexMessage)' ></i>
                                                <ul class="tooltiptext" :class="{show:indexMessage==presentMessage}">
                                                    <li>Options</li>
                                                    <li @click='deleteMessage(indexMessage)'>Delete</li>
                                                </ul>
                                                {{element.messages[indexMessage].text}} 
                                            </div>
                                        </div>
                                    </div>
                                </strong>
                            </div>  
                        </div>
                    </div>
                    <div class="sendMsg">
                        <div class="smile"><i class="far fa-smile"></i></div>
                        <input v-model='writeMessages' @keyup.enter='addMessage(present)' class="messageInput" placeholder="Scrivi un messaggio" type="text">
                        <div class="microphone"><i class="fas fa-microphone"></i></div>
                    </div>

                </div>
            </div>
    
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="myscript.js"></script>
</body>
</html>