<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- header -->
        <header>
            <!-- container top -->
            <div class="container_top">
                <div id="top_left">
                    <div id="avatarAndName">
                        <img class="avatar_img" src="img/avatar_1.png" alt="">
                        <span><strong>Nome Utente</strong></span>
                    </div>
                    <div class="container_icons">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <div id="top_right">
                    <div v-for='(element, index) in contacts' class="showContact" :class="isPresent(index)" >
                        <div id="avatarAndName">
                            <img class="avatar_img" :src="element.avatar" alt="">
                            <div>
                                <div><strong>{{contacts[index].name}}</strong></div>
                                <div class="ultimoAccesso">{{element.messages[element.messages.length-1].date}}</div>
                               
                            </div>
                        </div>
                    </div>
                    <div class="container_icons">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
            </div>
        </header>
        <!-- main -->
        <main>
            <div id="containerMain">
                <div class="mainLeft">
                    <div id="riceviNotifiche">
                        <i class="far fa-bell-slash"></i>
                        <div>
                            <div><strong>Ricevi notifiche di nuovi messaggi</strong></div>
                            <div class="underLine">Attiva notifiche descktop</div>
                        </div>
                    </div>
                    <div id="searchArea">
                        <i class="fas fa-search"></i>
                        <input class="search" type="text" placeholder="Cerca oinizia una nuova chat">
                    </div>
                    <div v-for='(element, index) in contacts' class="content" @click="chosenContact(index)" :class="changeColor(index)">
                        <img class="avatar_img" :src="element.avatar" alt="">
                        <div>
                            <div><strong>{{element.name}}</strong></div>
                            <div class="ultimoAccesso">{{element.messages[element.messages.length-1].date}}</div>
                            <p>{{element.messages[element.messages.length-1].text}}</p>
                        </div>
                    </div>
                </div>

                <div class="mainRight">
                    <div v-for='(element, index) in contacts' class="messages">
                        <div class="messageContainer">
                            <strong v-if='index==present' class="sentMessage">
                                <span v-for='(message,indexMessage) in contacts[index].messages' >{{element.messages[indexMessage].text}}</span>
                            </strong>
                        </div>
                        <div>
                            <strong class="receivedMessage"></strong>
                        </div>

                    </div>
                    <div class="sendMsg">
                        <i class="far fa-smile"></i>
                        <input v-model='writeMessages' keyup.enter='addMessage' class="messageInput" placeholder="Scrivi un messaggio" type="text">
                        <i class="fas fa-microphone"></i>
                    </div>

                </div>
            </div>
    
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="myscript.js"></script>
</body>
</html>